### Aula 3 - Análise estatística

#### para instalar as bibliotecas execute:
##### install.packages('readr')
##### install.packages("plyr")

In [16]:
library(readr)
library(plyr)

In [17]:
duracao <- read_csv('datasets/duracao.csv')

Parsed with column specification:
cols(
  user_id = col_integer(),
  course_id = col_integer(),
  timeToFinish = col_integer()
)

In [18]:
duracao <- rename(duracao, replace = c('user_id'='aluno', 'course_id'='curso', 'timeToFinish'='dias'))

In [19]:
head(duracao)

  aluno curso dias
1 477    19   0
2 110   251   0
3 474   149   0
4 474   140   0
5 474   167   0
6  30   213   0

### Media e Mediana

In [20]:
mean(duracao$dias)

[1] NA

In [21]:
mean(duracao$dias, na.rm = T)

[1] 47.83649

In [22]:
median(duracao$dias, na.rm = T)

[1] 8

In [23]:
summary(duracao$dias)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   0.00    2.00    8.00   47.84   45.00  538.00    3828

In [24]:
dim(duracao)

[1] 6366    3

In [25]:
dim(duracao)[1]

[1] 6366

### Pessoas matriculadas não concluíram aidna os cursos

In [26]:
dados_faltantes <- 3828
total_de_cursos <-  dim(duracao)[1]
dados_faltantes / total_de_cursos

[1] 0.6013195

### Cursos unicos e Alunos unicos

In [27]:
length(unique(duracao$curso))

[1] 264

In [28]:
length(unique(duracao$aluno))

[1] 484

In [29]:
write.csv(duracao, file = "exportado/aula3_duracao.csv", row.names = FALSE)