### Aula 4 - Fus√£o de banco de dados

#### para instalar ax bibliotecas execute:
##### install.packages('readr')
##### install.packages("plyr")

In [14]:
library(readr)
library(plyr)

### Lendo duracao.csv e popularidade.csv

In [15]:
duracao <- read_csv('exportado/aula3_duracao.csv')
head(duracao)

Parsed with column specification:
cols(
  aluno = col_integer(),
  curso = col_integer(),
  dias = col_integer()
)

  aluno curso dias
1 477    19   0
2 110   251   0
3 474   149   0
4 474   140   0
5 474   167   0
6  30   213   0

In [16]:
popularidade <- read_csv('exportado/aula1_popularidade.csv')
head(popularidade)

Parsed with column specification:
cols(
  course_id = col_integer(),
  freq = col_integer()
)

  course_id freq
1 2          66
2 3           2
3 4          93
4 5         262
5 6         338
6 7         493

### Media de dias por curso, ignorando valores faltantes

In [17]:
sumario_estatistico <- aggregate(duracao$dias, list(duracao$curso), mean, na.rm = T)
head(sumario_estatistico)

  Group.1 x
1 2       126.50000
2 3             NaN
3 4         5.50000
4 5        33.94118
5 6        30.50000
6 7       127.25000

In [18]:
sumario_estatistico <- rename(sumario_estatistico, replace = c('Group.1' = 'curso', 'x' = 'dias'))
head(sumario_estatistico)

  curso dias
1 2     126.50000
2 3           NaN
3 4       5.50000
4 5      33.94118
5 6      30.50000
6 7     127.25000

In [19]:
popularidade <- rename(popularidade, c('course_id'='curso', 'freq'='popularidade'))
head(popularidade)

  curso popularidade
1 2      66
2 3       2
3 4      93
4 5     262
5 6     338
6 7     493

In [20]:
popularidade_e_duracao <- merge(sumario_estatistico, popularidade, by = 'curso')

In [21]:
head(popularidade_e_duracao)

  curso dias      popularidade
1 2     126.50000  66
2 3           NaN   2
3 4       5.50000  93
4 5      33.94118 262
5 6      30.50000 338
6 7     127.25000 493

In [22]:
write.csv(popularidade_e_duracao, file= "exportado/aula4_popularidade_e_duracao.csv", row.names=FALSE)